<h1>Edit your visit</h1>

<%= form_for([@user, @gymvisit]) do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :calories_burned %>
  <%= f.text_field :calories_burned %>

  <%= f.submit "Update Visit" %>
<% end %>
